/* !Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black !important;
}

 ::-webkit-scrollbar {
    display: none;
}


/* !End Global Rules */


/* !Start Navbar  */

.navbar {
    background-color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Integral';
}

.collapse ul li {
    margin-right: 20px;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
    background: linear-gradient(90deg, rgba(255, 160, 160, 1) 0%, rgba(122, 243, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* !End Navbar  */


/* !Start Section */

.section .container {
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    color: white;
    font-size: 60px;
    font-family: 'Integral';
}

h2 {
    color: white;
    margin-bottom: 10px;
    font-family: 'Integral';
}

span {
    background: linear-gradient(90deg, rgba(255, 160, 160, 1) 0%, rgba(122, 243, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

p {
    color: white;
    font-family: 'Inter', sans-serif;
}


/* !End Section */