/* !Start Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black !important;
}

::-webkit-scrollbar {
    display: none;
}


/* !Start Navbar  */

.navbar {
    background-color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.collapse ul li {
    margin-right: 20px;
    font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
    background: linear-gradient(90deg, rgba(255, 160, 160, 1) 0%, rgba(122, 243, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* !End Navbar  */


/* !Start Section  */

.section {
    color: white;
}

.section .container .row .col-8 h1 {
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(255, 160, 160, 1) 0%, rgba(122, 243, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section .container .row .col-8:first-child {
    padding-top: 200px;
}

@media (max-width: 576px) {
    .section .container .row .col-8:first-child {
        width: auto;
        padding-top: 20px;
        padding-bottom: 0;
    }
    .section .container .row .col-8 h1 {
        font-size: 40px;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        background: linear-gradient(90deg, rgba(255, 160, 160, 1) 0%, rgba(122, 243, 255, 1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.section .container .row .col-4 img {
    width: 480px;
}

@media (max-width: 576px) {
    .section .container .row .col-4 img {
        width: 0;
    }
}

.section-p {
    padding: 3px;
    font-family: 'Poppins', sans-serif;
}


/* !Follow me Thing */

.menu {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    cursor: pointer;
    pointer-events: none;
    padding: 0;
}

.menu:hover {
    pointer-events: all;
}

.label {
    background: linear-gradient(90deg, rgba(255, 160, 160, 1) 0%, rgba(122, 243, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
}

.spacer {
    display: inline-block;
    width: 80px;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.spacer:before {
    content: "";
    position: absolute;
    border-bottom: 1px solid #ffffff;
    height: 1px;
    width: 0%;
    transition: width 0.25s ease;
    transition-delay: 0.7s;
}

.item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;
}

.item a {
    transition: color 0.5s ease;
    color: #ffffff;
    text-decoration: none;
}

.item:hover a {
    background: linear-gradient(90deg, rgba(255, 160, 160, 1) 0%, rgba(122, 243, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu:hover .spacer:before {
    width: 100%;
    transition-delay: 0s;
}

.menu:hover .item {
    opacity: 1;
    top: 0px;
}

.item:nth-child(1) {
    transition-delay: 0.45s;
}

.item:nth-child(2) {
    transition-delay: 0.4s;
}

.item:nth-child(3) {
    transition-delay: 0.35s;
}

.item:nth-child(4) {
    transition-delay: 0.3s;
}

.item:nth-child(5) {
    transition-delay: 0.25s;
}

.item:nth-child(6) {
    transition-delay: 0.2s;
}

.item:nth-child(7) {
    transition-delay: 0.15s;
}

.item:nth-child(8) {
    transition-delay: 0.1s;
}

.item:nth-child(9) {
    transition-delay: 0.05s;
}

.item:nth-child(10) {
    transition-delay: 0s;
}

.menu:hover .item:nth-child(1) {
    transition-delay: 0.25s;
}

.menu:hover .item:nth-child(2) {
    transition-delay: 0.3s;
}

.menu:hover .item:nth-child(3) {
    transition-delay: 0.35s;
}

.menu:hover .item:nth-child(4) {
    transition-delay: 0.4s;
}

.menu:hover .item:nth-child(5) {
    transition-delay: 0.45s;
}

.menu:hover .item:nth-child(6) {
    transition-delay: 0.5s;
}

.menu:hover .item:nth-child(7) {
    transition-delay: 0.55s;
}

.menu:hover .item:nth-child(8) {
    transition-delay: 0.6s;
}

.menu:hover .item:nth-child(9) {
    transition-delay: 0.65s;
}

.menu:hover .item:nth-child(10) {
    transition-delay: 0.7s;
}


/* !Follow me Thing */